Django
asgiref
branca
certifi
charset-normalizer
colorama
contourpy
cycler
et_xmlfile
folium
fonttools
fpdf
idna
Jinja2
joblib
kiwisolver
lxml
MarkupSafe
matplotlib
numpy
openpyxl
packaging
pandas
pillow
pyparsing
python-dateutil
python-pptx
qrcode
reportlab
requests
scikit-learn
scipy
seaborn
six
sqlparse
threadpoolctl
typing_extensions
tzdata
urllib3
xlsxwriter
xyzservices
django-leaflet
python-dotenv
psycopg2-binary
djangorestframework
